/* normalizer */

@import url(./vendor/normalize.css);
/*fonts*/

@import url(./vendor/fonts/Inter/inter.css);
/* main blocks */

@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/promo/promo.css);
@import url(./blocks/navtab/navtab.css);
@import url(./blocks/aboutproject/aboutproject.css);
@import url(./blocks/infoblock/infoblock.css);
@import url(./blocks/process/process.css);
@import url(./blocks/techs/techs.css);
@import url(./blocks/aboutme/aboutme.css);
@import url(./blocks/portfolio/portfolio.css);
@import url(./blocks/link-list/link-list.css);
@import url(./blocks/footer/footer.css);
/*mods*/

@import url(./blocks/header/_color/header_color-blue.css);
/*movies*/

@import url(./blocks/account-btn/account-btn.css);
@import url(./blocks/custom-checkbox/custom-checkbox.css);
@import url(./blocks/menubtn/menubtn.css);
@import url(./blocks/moviecard/moviecard.css);
@import url(./blocks/moviecardlist/moviecardlist.css);
@import url(./blocks/searchform/searchform.css);
@import url(./blocks/switch/switch.css);
/* register,login */

@import url(./blocks/profile/profile.css);
@import url(./blocks/auth/auth.css);
@import url(./blocks/form/form.css);
@import url(./blocks/auth/__btn/_action/auth__btn_action-redirect.css);
@import url(./blocks/auth/__btn/_action/auth__btn_action-submit.css);
/* error */

@import url(./blocks/error/error.css);
@import url(./blocks/navigation/navigation.css);
@import url(./blocks/closebtn/closebtn.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/list/list.css);
html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.header__nav_theme-white * {
  color: white;
}

.moviecardlist__notfound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: gray;
}

@media screen and (max-width: 600px) {
  .moviecardlist__notfound {
    font-size: 25px;
  }
}

.list__notfound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: gray;
}

@media screen and (max-width: 600px) {
  .list__notfound {
    font-size: 25px;
  }
}

.menubtn__hr {
  border: none;
  background: black;
  height: 3px;
  margin: 0;
}

.menubtn_color-white>hr {
  background-color: white;
}

.partnerList {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
  max-width: 75vw;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  min-height: 50vh;
}

.partner {
  display: flex;
  font-size: 24px;
  background-color: #2191FB;
  border: 1px #2191FB solid;
  color: white;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .partner {
    max-width: 500px;
    width: 100%;
    min-height: 50px;
    text-align: center;
  }
}

.productcard {
  display: grid;
  box-shadow: 5px 5px 5px #80727B;
  box-sizing: border-box;
  max-height: 320px;
  max-width: 400px;
  width: 100%;
  border: 2px #118AB2 solid;
  border-radius: 4px;
  grid-template-areas: "image image" "name name" "price buttonblock";
  grid-template-rows: 4fr 1fr 1fr;
  gap: 15px;
  padding: 5px;
}

.productcard__thumbnail {
  grid-area: image;
  max-width: 100%;
  height: 100%;
  justify-self: center;
  object-fit: cover;
}

.productcard__name {
  grid-area: name;
  text-align: center;
}

.productcard__price {
  grid-area: price;
  justify-self: center;
  align-self: center;
}

.productcard__buttonblock {
  grid-area: buttonblock;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  overflow: hidden;
}

.productcard__counter {
  border: none;
  background: none;
  width: 3rem;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.productcard__counter::-webkit-outer-spin-button, .productcard__counter::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

.productcard__counter[type=number] {
  -moz-appearance: textfield;
}

.productcard__button {
  height: 25px;
  width: 25px;
  justify-self: center;
  border: none;
  background-color: unset;
  font-size: 25px;
  padding: 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.productcard__button-type-more {
  border: 1px #4DAA57 solid;
  border-radius: 25px;
  background-color: #4DAA57;
}

.productcard__button-type-less {
  border: 1px #F24236 solid;
  background-color: #F24236;
  border-radius: 25px;
}

.productcard__button-type-add {
  border: 1px #4DAA57 solid;
  background-color: #4DAA57;
  grid-column: 1/-1;
  width: 100px;
}

.categorycard {
  width: 100%;
  position: relative;
  background-color: #628395;
  box-shadow: 5px 5px 5px #102542;
  border: 2px #628395 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 5px;
  overflow: hidden;
}

.categorycard__background {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.categorycard__name {
  font-size: 25px;
  z-index: 2;
}

.steps {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: auto;
  justify-items: center;
  margin: 100px 0;
}

@media screen and (max-width: 900px) {
  .steps {
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 50px 0;
    padding: 0 20px;
  }
}

.steps__step {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

@media screen and (max-width: 900px) {
  .steps__step {
    max-width: 500px;
    width: 100%;
    height: 50px;
    min-height: 50px;
    text-align: center;
  }
}

.steps__step_color-light {
  background-color: #6290C8;
}

.steps__step_color-normal {
  background-color: #376996;
}

.steps__step_color-dark {
  background-color: #1F487E;
}

.steps__step_selected-light {
  background-color: #329F5B;
}

.detecteddata {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.detecteddata__value {
  width: 100%;
  border-radius: 10px;
  color: #07020D;
  text-align: center;
  padding: 10px 0;
}

.detecteddata__value_type-vendor {
  border: 1px solid #B8D8BA;
  background-color: #B8D8BA;
}

.detecteddata__value_type-amount {
  border: 1px solid #FCDDBC;
  background-color: #FCDDBC;
}

.detecteddata__value_type-category {
  border: 1px solid #D9DBBC;
  background-color: #D9DBBC;
}

.detecteddata__value_type-unit {
  border: 1px solid #EF959D;
  background-color: #EF959D;
}

.detecteddatalist {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px
}

.confirmorder {
  padding: 15px;
  background-color: green;
  width: 25vw;
  margin: 25px auto;
  color: white;
}

.searchform__option_type-return {
  padding: 10px 5px;
  background-color: #3456f3;
  color: white;
  border: #3456f3 1px solid;
  border-radius: 15px;
  margin-left: 15px;
}

.record {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-content: center;
}

.record__btn {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  background: center no-repeat;
  background-image: url("./images/mic.png");
  background-size: 15px;
}

.record__btn_state-active {
  border: 1px rgb(245, 85, 64) solid;
  background-color: rgb(245, 85, 64);
}

.record__btn_state-idle {
  border: 1px rgb(69, 136, 245) solid;
  background-color: rgb(69, 136, 245);
}

.audiosearch {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  flex-direction: column;
  align-items: center;
}

.audiosearch__title {
  font-size: 20px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.audiosearch__desc {
  font-size: 18px;
  margin-bottom: 50px;
  align-self: flex-start;
}

.audiosearch__hr {
  width: 100%;
}

.sectionblock {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  flex-direction: column;
}

.sectionblock__title {
  font-size: 20px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.sectionblock__desc {
  font-size: 18px;
  margin-bottom: 50px;
  align-self: flex-start;
}

.sectionblock__hr {
  width: 100%;
}

.list__grid_mod-products {}

.popup_type-product {
  width: 100%;
  max-width: 90vw;
  max-height: 90vh;
  margin: 7vh auto;
}

@media screen and (max-width: 800px) {
  .popup_type-product {
    margin: 15vh auto;
    max-height: 80vh;
  }
}

.sectionblock_mod-product {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.productinfo {
  display: grid;
  grid-template-areas: "card title" "card desc";
  gap: 20px;
  padding: 10px;
}

@media screen and (max-width: 800px) {
  .productinfo {
    justify-items: center;
    grid-template-areas: "card" "title" "desc";
    font-size: 14px;
  }
}


@media screen and (max-width: 600px) {
  .productinfo {
    grid-template-areas: "card" "title" "desc";
    font-size: 10px;
  }
}

.productinfo__title {
  grid-area: title;
}

.productinfo__desc {
  grid-area: desc;
}

.productinfo__card {
  grid-area: card;
}